<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="5">
        <setting label="30000" type="slider" id="deadzone" option="float" range="0,.05,1" default="0.2"/>
        <setting label="30001" type="bool" id="useapi" default="false"/>
		<setting label="30002" type="text" id="api" default="" visible="eq(-1,true)"/>
	</category>
</settings>
